In [1]:
import pandas as pd
import numpy as np

In [2]:
pew_df = pd.read_csv(r'C:\Users\taewoo\PycharmProjects\data_professionals\Projects\Datasets\pew.csv')

In [4]:
print(pew_df.shape)
print(pew_df.info())

(18, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   religion            18 non-null     object
 1   <$10k               18 non-null     int64
 2   $10-20k             18 non-null     int64
 3   $20-30k             18 non-null     int64
 4   $30-40k             18 non-null     int64
 5   $40-50k             18 non-null     int64
 6   $50-75k             18 non-null     int64
 7   $75-100k            18 non-null     int64
 8   $100-150k           18 non-null     int64
 9   >150k               18 non-null     int64
 10  Don't know/refused  18 non-null     int64
dtypes: int64(10), object(1)
memory usage: 1.7+ KB
None

In [5]:
pew_df.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

Notice the the design of the table is inconvenient to navigate. I want to *unpivot* the table.

This is when `melt()` is used.

In [14]:
# id_vars are identifier columns
pew_df.melt(id_vars='religion',
            var_name='Income',
            value_name='Count').head()

             religion Income  Count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

Essentially, it is transforming wide format data into narrow format data by unpivoting values

In [15]:
billboard = pd.read_csv(r'C:\Users\taewoo\PycharmProjects\data_professionals\Projects\Datasets\billboard.csv')