In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.html.use_mathjax = False #disables latex
import unicodedata

In [2]:

analyst = pd.read_csv(r'C:\Users\taewoo\Desktop\Datasets\DataAnalyst.csv')
analyst.head(5)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [3]:
analyst[['Revenue']].head(5).to_dict('split')

{'index': [0, 1, 2, 3, 4],
 'columns': ['Revenue'],
 'data': [['$100 to $500 million (USD)'],
  ['$2 to $5 billion (USD)'],
  ['Unknown / Non-Applicable'],
  ['$50 to $100 million (USD)'],
  ['$100 to $500 million (USD)']]}

In [4]:
analyst.drop(columns='Unnamed: 0', inplace=True)
analyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   Location           2253 non-null   object
 6   Headquarters       2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
 12  Revenue            2253 non-null   object
 13  Competitors        2253 non-null   object
 14  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 264.1+ KB

## Data Cleaning

### Dealing with missing/NaN values

It seems like NaN values are denoted as -1.

For this exericse, I plan to investigate nan values in columns one by one on purpose to fully understand situational replacements.

In [5]:
analyst.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [6]:
analyst.loc[analyst['Company Name'].isnull()]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
1860,Data Analyst,$53K-$99K (Glassdoor est.),"Kindred at Home, part of the Kindred at Home f...",-1.0,NaN,"Mooresville, NC",-1,-1,-1,-1,-1,-1,-1,-1,-1

I was right, -1 indicates NaN values

Row 1860 is missing too many values, so I'm dropping it

In [7]:
analyst.drop(1860, inplace= True)
analyst.reset_index(drop=True, inplace=True)

In [8]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

for col in analyst.columns:
    print(f"{col}: {(analyst[col]==-1).sum() + (analyst[col]=='-1').sum()}")

Job Title: 0
Salary Estimate: 1
Job Description: 0
Rating: 271
Company Name: 0
Location: 0
Headquarters: 171
Size: 162
Founded: 659
Type of ownership: 162
Industry: 352
Sector: 352
Revenue: 162
Competitors: 1731
Easy Apply: 2172

##### Salary Estimate Column

In [9]:
analyst.loc[analyst['Salary Estimate'] == "-1"]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
2148,Configuration/Data Management Analyst III,-1,Job Description\nPosition Title: Configuration...,4.4,Protingent\n4.4,"Kent, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1

In [10]:
analyst.loc[analyst['Headquarters'] == "Bellevue, WA"]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
1020,Marketing Data Analyst,$46K-$102K (Glassdoor est.),Overview\n\n\nAs a key member of the Analytics...,3.5,Efinancial\n3.5,"Tempe, AZ","Bellevue, WA",201 to 500 employees,2001,Company - Private,Insurance Agencies & Brokerages,Insurance,$50 to $100 million (USD),-1,-1
2112,"Data Analyst II, QA",$35K-$67K (Glassdoor est.),We are looking for someone that is highly moti...,4.2,"iSpot.tv, Inc.\n4.2","Bellevue, WA","Bellevue, WA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
2122,Engines Configuration and Data Management Analyst,$55K-$101K (Glassdoor est.),Job Description\nPosition Title: Engines Confi...,4.4,Protingent\n4.4,"Kent, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1
2136,Configuration/Data Management Analyst,$55K-$101K (Glassdoor est.),Job Description\nExciting space exploration en...,4.2,NuWest Group\n4.2,"Kent, WA","Bellevue, WA",51 to 200 employees,1990,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1
2145,Configuration and Data Management Analyst,$55K-$101K (Glassdoor est.),Job Qualifications:BA/BS in a related technica...,4.4,Protingent Staffing\n4.4,"Renton, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1
2148,Configuration/Data Management Analyst III,-1,Job Description\nPosition Title: Configuration...,4.4,Protingent\n4.4,"Kent, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1

In [11]:
analyst_3 = [i for i, job in enumerate(analyst['Job Title']) if 'Analyst III' in job]
analyst.iloc[analyst_3]['Salary Estimate'].value_counts()[:5]

$35K-$42K (Glassdoor est.)     6
$47K-$76K (Glassdoor est.)     4
$60K-$124K (Glassdoor est.)    3
$98K-$114K (Glassdoor est.)    2
$46K-$86K (Glassdoor est.)     2
Name: Salary Estimate, dtype: int64

In [12]:
# I think 55ùêæ‚àí 101K range is reasonable given the job's location
analyst.at[2148, 'Salary Estimate'] = '55ùêæ‚àí 101K (Glassdoor est.)'

##### Rating Column

In [13]:
nan_rating_ind = analyst.loc[analyst['Rating'] == -1].index
# np.nan is a float, so it fulfills the adequacy
analyst.at[nan_rating_ind, 'Rating'] = np.nan
(analyst['Rating'] == -1).sum()

0

##### Headquarters

In [14]:
nan_head_ind = analyst.loc[analyst['Headquarters'] == '-1'].index
analyst.at[nan_head_ind, 'Headquarters'] = 'Unknown'
(analyst['Headquarters'] == '-1').sum()

0

##### Size

In [15]:
# Size: 162
# Founded: 659
# Type of ownership: 162
# Industry: 352
# Sector: 352
# Revenue: 162
# Competitors: 1731
# Easy Apply: 2172

In [16]:
print(f'Unique values of the size column \n{analyst["Size"].unique()}')
print((analyst['Size'] == '-1').sum())
# 'Unknown already exists'
for i, size in enumerate(analyst['Size']):
    if 'to' in size:
        analyst.at[i ,'Size'] = size.replace('employees', '').strip()
    elif '+' in size:
         analyst.at[i ,'Size'] = size.split()[0]
    else:
         analyst.at[i ,'Size'] = 'Unknown'

print(f'Unique values of the size column \n{analyst["Size"].unique()}')
print((analyst['Size'] == '-1').sum())

Unique values of the size column
['201 to 500 employees' '10000+ employees' '1001 to 5000 employees'
 '501 to 1000 employees' '5001 to 10000 employees' '1 to 50 employees'
 '51 to 200 employees' 'Unknown' '-1']
162
Unique values of the size column
['201 to 500' '10000+' '1001 to 5000' '501 to 1000' '5001 to 10000'
 '1 to 50' '51 to 200' 'Unknown']
0

##### Founded Column

In [17]:
nan_founded_ind = analyst.loc[analyst['Founded'] == -1].index
# adding np.nan changes the dtype of the column from int to float
analyst.at[nan_founded_ind, 'Founded'] = np.nan
analyst['Founded'] = analyst['Founded'].astype('Int64')

print(analyst['Founded'].unique())
print((analyst['Founded'] == -1).sum())
print(analyst['Founded'].isnull().sum())

<IntegerArray>
[1961, 1893, 2003, 2002, 2009, 2014, 2001, 1914, 1896, 2013,
 ...
 1924, 1907, 1682, 1875, 1917, 1876, 1785, 1909, 1789, 1930]
Length: 161, dtype: Int64
0
659

##### Type of ownership Column

In [18]:
print(analyst['Type of ownership'].unique())

nan_ownership_ind = analyst.loc[analyst['Type of ownership'] == '-1'].index
analyst.at[nan_ownership_ind, 'Type of ownership'] = 'Unknown'
(analyst['Type of ownership'] == '-1').sum()

print(analyst['Type of ownership'].unique())

['Nonprofit Organization' 'Company - Private'
 'Subsidiary or Business Segment' 'Company - Public' 'Hospital' 'Unknown'
 'Contract' '-1' 'Government' 'School / School District'
 'Other Organization' 'College / University' 'Self-employed'
 'Private Practice / Firm' 'Franchise']
['Nonprofit Organization' 'Company - Private'
 'Subsidiary or Business Segment' 'Company - Public' 'Hospital' 'Unknown'
 'Contract' 'Government' 'School / School District' 'Other Organization'
 'College / University' 'Self-employed' 'Private Practice / Firm'
 'Franchise']

##### Industry & Sector Column

In [19]:
# when missing industry, sector is also unknown
nan_industry_ind = analyst.loc[analyst['Industry'] == '-1'].index
analyst.at[nan_industry_ind, ['Industry', 'Sector']] = 'Unknown'
print((analyst['Industry'] == '-1').sum())
print((analyst['Sector'] == '-1').sum())

0
0

##### Revenue Column

In [20]:
print(analyst['Revenue'].unique())
nan_revenue_ind = analyst.loc[(analyst['Revenue'] == '-1') | (analyst['Revenue'] == 'Unknown / Non-Applicable')].index
analyst.at[nan_revenue_ind, 'Revenue'] = 'Unknown'

print(analyst['Revenue'].unique())

['$100 to $500 million (USD)' '$2 to $5 billion (USD)'
 'Unknown / Non-Applicable' '$50 to $100 million (USD)'
 '$1 to $2 billion (USD)' '$5 to $10 billion (USD)'
 '$1 to $5 million (USD)' '$25 to $50 million (USD)' '$10+ billion (USD)'
 'Less than $1 million (USD)' '$10 to $25 million (USD)' '-1'
 '$500 million to $1 billion (USD)' '$5 to $10 million (USD)']
['$100 to $500 million (USD)' '$2 to $5 billion (USD)' 'Unknown'
 '$50 to $100 million (USD)' '$1 to $2 billion (USD)'
 '$5 to $10 billion (USD)' '$1 to $5 million (USD)'
 '$25 to $50 million (USD)' '$10+ billion (USD)'
 'Less than $1 million (USD)' '$10 to $25 million (USD)'
 '$500 million to $1 billion (USD)' '$5 to $10 million (USD)']

##### Competitors Column

In [21]:
nan_comp_ind = analyst.loc[analyst['Competitors'] == '-1'].index
analyst.at[nan_comp_ind, 'Competitors'] = 'Unknown'
print((analyst['Competitors'] == '-1').sum())

0

##### Easy Apply Column

In [22]:
print(analyst['Easy Apply'].unique())

for i, item in enumerate(analyst['Easy Apply']):
    if item == '-1':
        analyst.at[i, 'Easy Apply'] = False
    else:
        analyst.at[i, 'Easy Apply'] = True

print(analyst['Easy Apply'].unique())

['True' '-1']
[True False]

Dealing with NaN values is done

### Cleaning & Transforming Values

In [23]:
analyst.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),Unknown,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),Unknown,False
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000,2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,False
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),Unknown,False
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [24]:
# get rid of (Glassdoor est.)
analyst['Salary Estimate'] = [x.split('(')[0] for x in analyst['Salary Estimate']]
# replace '\n' with space
analyst['Job Description'] = [x.replace('\n', ' ') for x in analyst['Job Description']]
# select the company name only 
analyst['Company Name'] = [x.split('\n')[0] for x in analyst['Company Name']]
# bring USD to the column name
analyst.rename(columns={'Revenue':'Revenue USD'}, inplace=True)
analyst['Revenue USD'] = [(x.split('(')[0]).replace('to', ' to ') for x in analyst['Revenue USD']]
analyst.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue USD,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million,Unknown,True
1,Quality Data Analyst,$37K-$66K,Overview Provides analytical and technical su...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion,Unknown,False
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000,2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,False
3,Data Analyst,$37K-$66K,Requisition NumberRR-0001939 Remote:Yes We col...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million,Unknown,False
4,Reporting Data Analyst,$37K-$66K,ABOUT FANDUEL GROUP FanDuel Group is a world-...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million,DraftKings,True

In [25]:
analyst['Salary Estimate'].unique()

array(['$37K-$66K ', '$46K-$87K ', '$51K-$88K ', '$51K-$87K ',
       '$59K-$85K ', '$43K-$76K ', '$60K-$110K ', '$41K-$78K ',
       '$45K-$88K ', '$73K-$127K ', '$84K-$90K ', '$27K-$52K ',
       '$42K-$74K ', '$77K-$132K ', '$98K-$114K ', '$48K-$96K ',
       '$26K-$47K ', '$31K-$59K ', '$47K-$81K ', '$43K-$69K ',
       '$49K-$112K ', '$30K-$54K ', '$55K-$103K ', '$37K-$70K ',
       '$57K-$103K ', '$35K-$45K ', '$42K-$66K ', '$65K-$81K ',
       '$113K-$132K ', '$42K-$63K ', '$60K-$66K ', '$73K-$82K ',
       '$67K-$92K ', '$42K-$76K ', '$97K-$129K ', '$68K-$87K ',
       '$29K-$38K ', '$47K-$76K ', '$74K-$123K ', '$53K-$94K ',
       '$46K-$102K ', '$43K-$94K ', '$45K-$78K ', '$38K-$68K ',
       '$37K-$44K ', '$64K-$113K ', '$50K-$93K ', '$37K-$68K ',
       '$73K-$89K ', '$76K-$122K ', '$60K-$124K ', '$34K-$61K ',
       '$24K-$48K ', '$30K-$53K ', '$41K-$86K ', '$44K-$82K ',
       '$48K-$88K ', '$44K-$78K ', '$110K-$190K ', '$89K-$151K ',
       '$69K-$127K ', '$51K-$93K ', '$58K-$93K ', '$63K-$116K ',
       '$53K-$104K ', '$35K-$42K ', '$43K-$77K ', '$40K-$72K ',
       '$50K-$86K ', '$35K-$67K ', '$57K-$70K ', '$28K-$52K ',
       '$46K-$86K ', '$54K-$75K ', '$53K-$99K ', '$40K-$74K ',
       '$57K-$104K ', '$99K-$178K ', '$93K-$159K ', '$82K-$116K ',
       '$65K-$120K ', '$47K-$74K ', '$55K-$101K ', '55ùêæ‚àí 101K ',
       '$32K-$56K ', '$36K-$67K ', '$57K-$67K ', '$49K-$91K ',
       '$57K-$100K ', '$78K-$104K '], dtype=object)

Now data is in a clean and workable form.

In [26]:
# this line is for '55ùêæ‚àí 101K'. ùêæ‚àí is italic, so I have to normalize it
analyst['Salary Estimate'] = analyst['Salary Estimate'].apply(lambda x: unicodedata.normalize("NFKC", x))
analyst['Salary Estimate'] = analyst['Salary Estimate'].apply(lambda x: x.replace('‚àí ', '-'))
# expand the salary column to salary min and max
analyst['Salary Min'], analyst['Salary Max'] = analyst['Salary Estimate'].str.split('-', 1).str
analyst['Salary Min'] = analyst['Salary Min'].apply(lambda x: int(x.replace('$', '').replace('K', '000').strip()))
analyst['Salary Max'] = analyst['Salary Max'].apply(lambda x: int(x.replace('$', '').replace('K', '000').strip()))
analyst.drop(columns='Salary Estimate', inplace=True)
analyst.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue USD,Competitors,Easy Apply,Salary Min,Salary Max
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million,Unknown,True,37000,66000
1,Quality Data Analyst,Overview Provides analytical and technical su...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion,Unknown,False,37000,66000
2,"Senior Data Analyst, Insights & Analytics Team...",We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000,2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,False,37000,66000
3,Data Analyst,Requisition NumberRR-0001939 Remote:Yes We col...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million,Unknown,False,37000,66000
4,Reporting Data Analyst,ABOUT FANDUEL GROUP FanDuel Group is a world-...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million,DraftKings,True,37000,66000

In [27]:
analyst.Size.unique()

array(['201 to 500', '10000+', '1001 to 5000', '501 to 1000',
       '5001 to 10000', '1 to 50', '51 to 200', 'Unknown'], dtype=object)

In [28]:
analyst['Size Min'] = [ int(size.split(' to ')[0].strip()) if 'to' in size else np.nan for size in analyst['Size']]
analyst['Size Max'] = [ int(size.split(' to ')[1].strip()) if 'to' in size else np.nan for size in analyst['Size']]
analyst['Size Min'] = analyst['Size Min'].astype('Int16')
analyst['Size Max'] = analyst['Size Max'].astype('Int16')
analyst.drop(columns='Size', inplace=True)
analyst.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Sector,Revenue USD,Competitors,Easy Apply,Salary Min,Salary Max,Size Min,Size Max
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million,Unknown,True,37000,66000,201,500
1,Quality Data Analyst,Overview Provides analytical and technical su...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion,Unknown,False,37000,66000,<NA>,<NA>
2,"Senior Data Analyst, Insights & Analytics Team...",We‚Äôre looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",2003,Company - Private,Internet,Information Technology,Unknown,GoDaddy,False,37000,66000,1001,5000
3,Data Analyst,Requisition NumberRR-0001939 Remote:Yes We col...,4.1,Celerity,"New York, NY","McLean, VA",2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million,Unknown,False,37000,66000,201,500
4,Reporting Data Analyst,ABOUT FANDUEL GROUP FanDuel Group is a world-...,3.9,FanDuel,"New York, NY","New York, NY",2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million,DraftKings,True,37000,66000,501,1000