In [9]:
import pandas as pd
import numpy as np
from sklearn import linear_model, preprocessing
from matplotlib import pyplot as plt
from collections import Counter, OrderedDict
import math

In [2]:
df = pd.read_csv('GOOG.csv', delimiter=',')
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-05,1170.040039,1175.239990,1140.140015,1152.319946,1152.319946,2597500
1,2019-08-06,1163.310059,1179.959961,1160.000000,1169.949951,1169.949951,1709400
2,2019-08-07,1156.000000,1178.444946,1149.624023,1173.989990,1173.989990,1444300
3,2019-08-08,1182.829956,1205.010010,1173.020020,1204.800049,1204.800049,1468000
4,2019-08-09,1197.989990,1203.880005,1183.603027,1188.010010,1188.010010,1065700
5,2019-08-12,1179.209961,1184.959961,1167.671997,1174.709961,1174.709961,1003000
6,2019-08-13,1171.459961,1204.780029,1171.459961,1197.270020,1197.270020,1294400
7,2019-08-14,1176.310059,1182.300049,1160.540039,1164.290039,1164.290039,1578700
8,2019-08-15,1163.500000,1175.839966,1162.109985,1167.260010,1167.260010,1218700
9,2019-08-16,1179.550049,1182.719971,1171.810059,1177.599976,1177.599976,1313300

In [3]:
# Close and Adj Close seem to be holding the same values
for item1, item2 in zip(df['Close'], df['Adj Close']):
    result = (item1 == item2)
print(result)

True

In [4]:
df['Pct_Change'] = (df['Close'] - df['Open']) / df['Open']*100
df.drop(columns='Adj Close', inplace=True)

In [6]:
df.head(5)

,Date,Open,High,Low,Close,Volume,Pct_Change
0,2019-08-05,1170.040039,1175.239990,1140.140015,1152.319946,2597500,-1.514486
1,2019-08-06,1163.310059,1179.959961,1160.000000,1169.949951,1709400,0.570776
2,2019-08-07,1156.000000,1178.444946,1149.624023,1173.989990,1444300,1.556228
3,2019-08-08,1182.829956,1205.010010,1173.020020,1204.800049,1468000,1.857418
4,2019-08-09,1197.989990,1203.880005,1183.603027,1188.010010,1065700,-0.833060

In [7]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Pct_Change    0
dtype: int64

In [10]:
# Forecast 1% of the data in the future
forecast_col = 'Close'
forecast_out = math.ceil(0.01*len(df))