In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
suicide_df = pd.read_csv(r'C:\Users\taewoo\Desktop\Datasets\who_suicide_statistics.csv')
suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [3]:
suicide_df.head(10)

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0
5  Albania  1985  female    75+ years          NaN     34200.0
6  Albania  1985    male  15-24 years          NaN    301400.0
7  Albania  1985    male  25-34 years          NaN    264200.0
8  Albania  1985    male  35-54 years          NaN    296700.0
9  Albania  1985    male   5-14 years          NaN    325800.0

In [4]:
suicide_df.tail(10)

        country  year     sex          age  suicides_no  population
43766  Zimbabwe  1990  female  35-54 years         45.0         NaN
43767  Zimbabwe  1990  female   5-14 years          6.0         NaN
43768  Zimbabwe  1990  female  55-74 years         20.0         NaN
43769  Zimbabwe  1990  female    75+ years          3.0         NaN
43770  Zimbabwe  1990    male  15-24 years        132.0         NaN
43771  Zimbabwe  1990    male  25-34 years        150.0         NaN
43772  Zimbabwe  1990    male  35-54 years        132.0         NaN
43773  Zimbabwe  1990    male   5-14 years          6.0         NaN
43774  Zimbabwe  1990    male  55-74 years         74.0         NaN
43775  Zimbabwe  1990    male    75+ years         13.0         NaN

As I want to do the analysis on data of 21st century, I need to create some filters.

### Data Cleaning

In [5]:
suicide_21 = suicide_df[suicide_df['year'] >= 2000]
suicide_21.head()

     country  year     sex          age  suicides_no  population
180  Albania  2000  female  15-24 years          6.0    263900.0
181  Albania  2000  female  25-34 years          3.0    245800.0
182  Albania  2000  female  35-54 years          5.0    332200.0
183  Albania  2000  female   5-14 years          0.0    324700.0
184  Albania  2000  female  55-74 years          0.0    168000.0

In [6]:
suicide_21.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no     444
population     2904
dtype: int64

In [7]:
suicide_index = []
population_index = []
for i, (suicide_item, population_item) in enumerate(zip(suicide_21['suicides_no'].isnull(), suicide_21['population'].isnull())):
    if suicide_item == True:
        suicide_index.append(i)
    elif population_item == True:
        population_index.append(i)

    
print(len(suicide_index))
print(len(population_index))

444
2904

In [8]:
suicide_nan = suicide_21.iloc[suicide_index]  # a dataframe of all rows with nan values of the suicides_no column
nan_countries = suicide_nan['country'].unique()  # countries with nan values in the suicides_no column

for country in nan_countries:
    print(suicide_nan[suicide_nan['country']==country])

     country  year     sex          age  suicides_no  population
312  Albania  2011  female  15-24 years          NaN    258006.0
313  Albania  2011  female  25-34 years          NaN    184556.0
314  Albania  2011  female  35-54 years          NaN    394638.0
315  Albania  2011  female   5-14 years          NaN    210822.0
316  Albania  2011  female  55-74 years          NaN    250641.0
317  Albania  2011  female    75+ years          NaN     67649.0
318  Albania  2011    male  15-24 years          NaN    275385.0
319  Albania  2011    male  25-34 years          NaN    185898.0
320  Albania  2011    male  35-54 years          NaN    368950.0
321  Albania  2011    male   5-14 years          NaN    228071.0
322  Albania  2011    male  55-74 years          NaN    250362.0
323  Albania  2011    male    75+ years          NaN     54228.0
324  Albania  2012  female  15-24 years          NaN    249730.0
325  Albania  2012  female  25-34 years          NaN    187346.0
326  Albania  2012  female  35-54 years          NaN    395819.0
327  Albania  2012  female   5-14 years          NaN    198385.0
328  Albania  2012  female  55-74 years          NaN    259751.0
329  Albania  2012  female    75+ years          NaN     69811.0
330  Albania  2012    male  15-24 years          NaN    268954.0
331  Albania  2012    male  25-34 years          NaN    194250.0
332  Albania  2012    male  35-54 years          NaN    369536.0
333  Albania  2012    male   5-14 years          NaN    215894.0
334  Albania  2012    male  55-74 years          NaN    259056.0
335  Albania  2012    male    75+ years          NaN     56701.0
336  Albania  2013  female  15-24 years          NaN    237550.0
337  Albania  2013  female  25-34 years          NaN    191853.0
338  Albania  2013  female  35-54 years          NaN    397517.0
339  Albania  2013  female   5-14 years          NaN    187558.0
340  Albania  2013  female  55-74 years          NaN    269026.0
341  Albania  2013  female    75+ years          NaN     71601.0
342  Albania  2013    male  15-24 years          NaN    259826.0
343  Albania  2013    male  25-34 years          NaN    204491.0
344  Albania  2013    male  35-54 years          NaN    372005.0
345  Albania  2013    male   5-14 years          NaN    204865.0
346  Albania  2013    male  55-74 years          NaN    267905.0
347  Albania  2013    male    75+ years          NaN     59113.0
348  Albania  2014  female  15-24 years          NaN    224883.0
349  Albania  2014  female  25-34 years          NaN    195460.0
350  Albania  2014  female  35-54 years          NaN    399197.0
351  Albania  2014  female   5-14 years          NaN    177838.0
352  Albania  2014  female  55-74 years          NaN    278887.0
353  Albania  2014  female    75+ years          NaN     73945.0
354  Albania  2014    male  15-24 years          NaN    250345.0
355  Albania  2014    male  25-34 years          NaN    213828.0
356  Albania  2014    male  35-54 years          NaN    373493.0
357  Albania  2014    male   5-14 years          NaN    194554.0
358  Albania  2014    male  55-74 years          NaN    277604.0
359  Albania  2014    male    75+ years          NaN     61678.0
360  Albania  2015  female  15-24 years          NaN    212324.0
361  Albania  2015  female  25-34 years          NaN    199024.0
362  Albania  2015  female  35-54 years          NaN    400275.0
363  Albania  2015  female   5-14 years          NaN    168140.0
364  Albania  2015  female  55-74 years          NaN    289055.0
365  Albania  2015  female    75+ years          NaN     76861.0
366  Albania  2015    male  15-24 years          NaN    240777.0
367  Albania  2015    male  25-34 years          NaN    222680.0
368  Albania  2015    male  35-54 years          NaN    374464.0
369  Albania  2015    male   5-14 years          NaN    184114.0
370  Albania  2015    male  55-74 years          NaN    287770.0
371  Albania  2015    male    75+ years          NaN     64200.0
      country  year     sex          age  suicides_no  population
1764  Armenia  2004  female  15-24 years          NaN    304314.0
1765  Armenia  2004  female  25-34 years          NaN    229251.0
1766  Armenia  2004  female  35-54 years          NaN    477071.0
1767  Armenia  2004  female   5-14 years          NaN    254288.0
1768  Armenia  2004  female  55-74 years          NaN    248427.0
1769  Armenia  2004  female    75+ years          NaN     67304.0
1770  Armenia  2004    male  15-24 years          NaN    306856.0
1771  Armenia  2004    male  25-34 years          NaN    216543.0
1772  Armenia  2004    male  35-54 years          NaN    426732.0
1773  Armenia  2004    male   5-14 years          NaN    272703.0
1774  Armenia  2004    male  55-74 years          NaN    192366.0
1775  Armenia  2004    male    75+ years          NaN     35685.0
1776  Armenia  2005  female  15-24 years          NaN    307904.0
1777  Armenia  2005  female  25-34 years          NaN    234644.0
1778  Armenia  2005  female  35-54 years          NaN    478385.0
1779  Armenia  2005  female   5-14 years          NaN    240080.0
1780  Armenia  2005  female  55-74 years          NaN    248761.0
1781  Armenia  2005  female    75+ years          NaN     71818.0
1782  Armenia  2005    male  15-24 years          NaN    312247.0
1783  Armenia  2005    male  25-34 years          NaN    223789.0
1784  Armenia  2005    male  35-54 years          NaN    428628.0
1785  Armenia  2005    male   5-14 years          NaN    259830.0
1786  Armenia  2005    male  55-74 years          NaN    192058.0
1787  Armenia  2005    male    75+ years          NaN     39134.0
        country  year     sex          age  suicides_no  population
2472  Australia  2005  female  15-24 years          NaN   1365323.0
2473  Australia  2005  female  25-34 years          NaN   1444503.0
2474  Australia  2005  female  35-54 years          NaN   2902348.0
2475  Australia  2005  female   5-14 years          NaN   1329981.0
2476  Australia  2005  female  55-74 years          NaN   1744218.0
2477  Australia  2005  female    75+ years          NaN    726893.0
2478  Australia  2005    male  15-24 years          NaN   1420120.0
2479  Australia  2005    male  25-34 years          NaN   1439379.0
2480  Australia  2005    male  35-54 years          NaN   2864474.0
2481  Australia  2005    male   5-14 years          NaN   1402451.0
2482  Australia  2005    male  55-74 years          NaN   1722650.0
2483  Australia  2005    male    75+ years          NaN    489314.0
         country  year     sex          age  suicides_no  population
3336  Azerbaijan  2005  female  15-24 years          NaN    842750.0
3337  Azerbaijan  2005  female  25-34 years          NaN    664450.0
3338  Azerbaijan  2005  female  35-54 years          NaN   1211150.0
3339  Azerbaijan  2005  female   5-14 years          NaN    722800.0
3340  Azerbaijan  2005  female  55-74 years          NaN    444300.0
3341  Azerbaijan  2005  female    75+ years          NaN    107000.0
3342  Azerbaijan  2005    male  15-24 years          NaN    877650.0
3343  Azerbaijan  2005    male  25-34 years          NaN    616650.0
3344  Azerbaijan  2005    male  35-54 years          NaN   1104100.0
3345  Azerbaijan  2005    male   5-14 years          NaN    782850.0
3346  Azerbaijan  2005    male  55-74 years          NaN    365700.0
3347  Azerbaijan  2005    male    75+ years          NaN     64200.0
      country  year     sex          age  suicides_no  population
4596  Belarus  2004  female  15-24 years          NaN    793684.0
4597  Belarus  2004  female  25-34 years          NaN    696487.0
4598  Belarus  2004  female  35-54 years          NaN   1531907.0
4599  Belarus  2004  female   5-14 years          NaN    542054.0
4600  Belarus  2004  female  55-74 years          NaN   1055990.0
4601  Belarus  2004  female    75+ years          NaN    389789.0
4602  Belarus  2004    male  15-24 years          NaN    828898.0
4603  Belarus  2004    male  25-34 years          NaN    698125.0
4604  Belarus  2004    male  35-54 years          NaN   1420101.0
4605  Belarus  2004    male   5-14 years          NaN    571645.0
4606  Belarus  2004    male  55-74 years          NaN    706250.0
4607  Belarus  2004    male    75+ years          NaN    140569.0
4608  Belarus  2005  female  15-24 years          NaN    791961.0
4609  Belarus  2005  female  25-34 years          NaN    700519.0
4610  Belarus  2005  female  35-54 years          NaN   1524933.0
4611  Belarus  2005  female   5-14 years          NaN    515011.0
4612  Belarus  2005  female  55-74 years          NaN   1053247.0
4613  Belarus  2005  female    75+ years          NaN    403913.0
4614  Belarus  2005    male  15-24 years          NaN    825924.0
4615  Belarus  2005    male  25-34 years          NaN    706010.0
4616  Belarus  2005    male  35-54 years          NaN   1410341.0
4617  Belarus  2005    male   5-14 years          NaN    543371.0
4618  Belarus  2005    male  55-74 years          NaN    706216.0
4619  Belarus  2005    male    75+ years          NaN    148129.0
4620  Belarus  2006  female  15-24 years          NaN    782861.0
4621  Belarus  2006  female  25-34 years          NaN    705036.0
4622  Belarus  2006  female  35-54 years          NaN   1521714.0
4623  Belarus  2006  female   5-14 years          NaN    493216.0
4624  Belarus  2006  female  55-74 years          NaN   1052089.0
4625  Belarus  2006  female    75+ years          NaN    415046.0
4626  Belarus  2006    male  15-24 years          NaN    816266.0
4627  Belarus  2006    male  25-34 years          NaN    714048.0
4628  Belarus  2006    male  35-54 years          NaN   1404276.0
4629  Belarus  2006    male   5-14 years          NaN    520558.0
4630  Belarus  2006    male  55-74 years          NaN    706349.0
4631  Belarus  2006    male    75+ years          NaN    153868.0
4692  Belarus  2012  female  15-24 years          NaN    607675.0
4693  Belarus  2012  female  25-34 years          NaN    732747.0
4694  Belarus  2012  female  35-54 years          NaN   1455258.0
4695  Belarus  2012  female   5-14 years          NaN    439462.0
4696  Belarus  2012  female  55-74 years          NaN   1115781.0
4697  Belarus  2012  female    75+ years          NaN    453056.0
4698  Belarus  2012    male  15-24 years          NaN    642799.0
4699  Belarus  2012    male  25-34 years          NaN    748497.0
4700  Belarus  2012    male  35-54 years          NaN   1329430.0
4701  Belarus  2012    male   5-14 years          NaN    464080.0
4702  Belarus  2012    male  55-74 years          NaN    768600.0
4703  Belarus  2012    male    75+ years          NaN    165701.0
4728  Belarus  2015  female  15-24 years          NaN    522186.0
4729  Belarus  2015  female  25-34 years          NaN    747134.0
4730  Belarus  2015  female  35-54 years          NaN   1405736.0
4731  Belarus  2015  female   5-14 years          NaN    464047.0
4732  Belarus  2015  female  55-74 years          NaN   1172860.0
4733  Belarus  2015  female    75+ years          NaN    481755.0
4734  Belarus  2015    male  15-24 years          NaN    551841.0
4735  Belarus  2015    male  25-34 years          NaN    773140.0
4736  Belarus  2015    male  35-54 years          NaN   1295427.0
4737  Belarus  2015    male   5-14 years          NaN    490687.0
4738  Belarus  2015    male  55-74 years          NaN    831114.0
4739  Belarus  2015    male    75+ years          NaN    174420.0
                     country  year     sex          age  suicides_no  \
6156  Bosnia and Herzegovina  2010  female  15-24 years          NaN
6157  Bosnia and Herzegovina  2010  female  25-34 years          NaN
6158  Bosnia and Herzegovina  2010  female  35-54 years          NaN
6159  Bosnia and Herzegovina  2010  female   5-14 years          NaN
6160  Bosnia and Herzegovina  2010  female  55-74 years          NaN
6161  Bosnia and Herzegovina  2010  female    75+ years          NaN
6162  Bosnia and Herzegovina  2010    male  15-24 years          NaN
6163  Bosnia and Herzegovina  2010    male  25-34 years          NaN
6164  Bosnia and Herzegovina  2010    male  35-54 years          NaN
6165  Bosnia and Herzegovina  2010    male   5-14 years          NaN
6166  Bosnia and Herzegovina  2010    male  55-74 years          NaN
6167  Bosnia and Herzegovina  2010    male    75+ years          NaN
6180  Bosnia and Herzegovina  2012  female  15-24 years          NaN
6181  Bosnia and Herzegovina  2012  female  25-34 years          NaN
6182  Bosnia and Herzegovina  2012  female  35-54 years          NaN
6183  Bosnia and Herzegovina  2012  female   5-14 years          NaN
6184  Bosnia and Herzegovina  2012  female  55-74 years          NaN
6185  Bosnia and Herzegovina  2012  female    75+ years          NaN
6186  Bosnia and Herzegovina  2012    male  15-24 years          NaN
6187  Bosnia and Herzegovina  2012    male  25-34 years          NaN
6188  Bosnia and Herzegovina  2012    male  35-54 years          NaN
6189  Bosnia and Herzegovina  2012    male   5-14 years          NaN
6190  Bosnia and Herzegovina  2012    male  55-74 years          NaN
6191  Bosnia and Herzegovina  2012    male    75+ years          NaN

      population
6156    273197.0
6157    256293.0
6158    554468.0
6159    247195.0
6160    437374.0
6161    116058.0
6162    291167.0
6163    252966.0
6164    549673.0
6165    257192.0
6166    363671.0
6167     77301.0
6180    251515.0
6181    234773.0
6182    555689.0
6183    228428.0
6184    459436.0
6185    142129.0
6186    274917.0
6187    253140.0
6188    535774.0
6189    228029.0
6190    402514.0
6191     96450.0
      country  year     sex          age  suicides_no  population
10584  Cyprus  2002  female  15-24 years          NaN     54859.0
10585  Cyprus  2002  female  25-34 years          NaN     52521.0
10586  Cyprus  2002  female  35-54 years          NaN    101589.0
10587  Cyprus  2002  female   5-14 years          NaN     52071.0
10588  Cyprus  2002  female  55-74 years          NaN     61502.0
10589  Cyprus  2002  female    75+ years          NaN     20292.0
10590  Cyprus  2002    male  15-24 years          NaN     56933.0
10591  Cyprus  2002    male  25-34 years          NaN     47848.0
10592  Cyprus  2002    male  35-54 years          NaN     97177.0
10593  Cyprus  2002    male   5-14 years          NaN     55071.0
10594  Cyprus  2002    male  55-74 years          NaN     56016.0
10595  Cyprus  2002    male    75+ years          NaN     15222.0
10596  Cyprus  2003  female  15-24 years          NaN     55587.0
10597  Cyprus  2003  female  25-34 years          NaN     52976.0
10598  Cyprus  2003  female  35-54 years          NaN    102749.0
10599  Cyprus  2003  female   5-14 years          NaN     51164.0
10600  Cyprus  2003  female  55-74 years          NaN     63460.0
10601  Cyprus  2003  female    75+ years          NaN     21724.0
10602  Cyprus  2003    male  15-24 years          NaN     57895.0
10603  Cyprus  2003    male  25-34 years          NaN     48711.0
10604  Cyprus  2003    male  35-54 years          NaN     97830.0
10605  Cyprus  2003    male   5-14 years          NaN     54190.0
10606  Cyprus  2003    male  55-74 years          NaN     58273.0
10607  Cyprus  2003    male    75+ years          NaN     16190.0
       country  year     sex          age  suicides_no  population
15372  Georgia  2002  female  15-24 years          NaN    343050.0
15373  Georgia  2002  female  25-34 years          NaN    314900.0
15374  Georgia  2002  female  35-54 years          NaN    635650.0
15375  Georgia  2002  female   5-14 years          NaN    323800.0
15376  Georgia  2002  female  55-74 years          NaN    444550.0
15377  Georgia  2002  female    75+ years          NaN    127300.0
15378  Georgia  2002    male  15-24 years          NaN    343900.0
15379  Georgia  2002    male  25-34 years          NaN    295750.0
15380  Georgia  2002    male  35-54 years          NaN    556600.0
15381  Georgia  2002    male   5-14 years          NaN    337550.0
15382  Georgia  2002    male  55-74 years          NaN    335900.0
15383  Georgia  2002    male    75+ years          NaN     58800.0
15384  Georgia  2003  female  15-24 years          NaN    344050.0
15385  Georgia  2003  female  25-34 years          NaN    313750.0
15386  Georgia  2003  female  35-54 years          NaN    636350.0
15387  Georgia  2003  female   5-14 years          NaN    312150.0
15388  Georgia  2003  female  55-74 years          NaN    439150.0
15389  Georgia  2003  female    75+ years          NaN    134100.0
15390  Georgia  2003    male  15-24 years          NaN    346150.0
15391  Georgia  2003    male  25-34 years          NaN    294350.0
15392  Georgia  2003    male  35-54 years          NaN    554050.0
15393  Georgia  2003    male   5-14 years          NaN    326900.0
15394  Georgia  2003    male  55-74 years          NaN    331500.0
15395  Georgia  2003    male    75+ years          NaN     64400.0
15444  Georgia  2008  female  15-24 years          NaN    355700.0
15445  Georgia  2008  female  25-34 years          NaN    324250.0
15446  Georgia  2008  female  35-54 years          NaN    649450.0
15447  Georgia  2008  female   5-14 years          NaN    244450.0
15448  Georgia  2008  female  55-74 years          NaN    450350.0
15449  Georgia  2008  female    75+ years          NaN    167600.0
15450  Georgia  2008    male  15-24 years          NaN    365400.0
15451  Georgia  2008    male  25-34 years          NaN    318700.0
15452  Georgia  2008    male  35-54 years          NaN    573550.0
15453  Georgia  2008    male   5-14 years          NaN    267950.0
15454  Georgia  2008    male  55-74 years          NaN    338950.0
15455  Georgia  2008    male    75+ years          NaN     87500.0
      country  year     sex          age  suicides_no  population
20028  Israel  2016  female  15-24 years          NaN    628605.0
20029  Israel  2016  female  25-34 years          NaN    587819.0
20030  Israel  2016  female  35-54 years          NaN    985951.0
20031  Israel  2016  female   5-14 years          NaN    749852.0
20032  Israel  2016  female  55-74 years          NaN    684491.0
20033  Israel  2016  female    75+ years          NaN    244855.0
20034  Israel  2016    male  15-24 years          NaN    656574.0
20035  Israel  2016    male  25-34 years          NaN    592965.0
20036  Israel  2016    male  35-54 years          NaN    963837.0
20037  Israel  2016    male   5-14 years          NaN    787565.0
20038  Israel  2016    male  55-74 years          NaN    613275.0
20039  Israel  2016    male    75+ years          NaN    172044.0
        country  year     sex          age  suicides_no  population
21792  Kiribati  2011  female  15-24 years          NaN     10410.0
21793  Kiribati  2011  female  25-34 years          NaN      7952.0
21794  Kiribati  2011  female  35-54 years          NaN     11026.0
21795  Kiribati  2011  female   5-14 years          NaN     11372.0
21796  Kiribati  2011  female  55-74 years          NaN      4199.0
21797  Kiribati  2011  female    75+ years          NaN       687.0
21798  Kiribati  2011    male  15-24 years          NaN     10835.0
21799  Kiribati  2011    male  25-34 years          NaN      7382.0
21800  Kiribati  2011    male  35-54 years          NaN     10072.0
21801  Kiribati  2011    male   5-14 years          NaN     11978.0
21802  Kiribati  2011    male  55-74 years          NaN      3364.0
21803  Kiribati  2011    male    75+ years          NaN       362.0
           country  year     sex          age  suicides_no  population
29808  Philippines  2013  female  15-24 years          NaN   9437663.0
29809  Philippines  2013  female  25-34 years          NaN   7450252.0
29810  Philippines  2013  female  35-54 years          NaN  10844107.0
29811  Philippines  2013  female   5-14 years          NaN  10215594.0
29812  Philippines  2013  female  55-74 years          NaN   4637949.0
29813  Philippines  2013  female    75+ years          NaN    938352.0

There's a decision to make here.

* For countries that are missing suicides_no for just a year or two, I can calculate the average and substitute the NaN values. However, for the ones that are missing for more, I will have to see whether I want to drop the country as a whole or only drop those rows.

In [9]:
suicide_21['year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016], dtype=int64)

In [10]:
nan_year_dict = {}  # countries and years where nan values are in suicides_co
for country in nan_countries:
    nan_year_dict[country] = suicide_nan.loc[suicide_nan['country']==country]['year'].unique()
print(nan_year_dict)

{'Albania': array([2011, 2012, 2013, 2014, 2015], dtype=int64), 'Armenia': array([2004, 2005], dtype=int64), 'Australia': array([2005], dtype=int64), 'Azerbaijan': array([2005], dtype=int64), 'Belarus': array([2004, 2005, 2006, 2012, 2015], dtype=int64), 'Bosnia and Herzegovina': array([2010, 2012], dtype=int64), 'Cyprus': array([2002, 2003], dtype=int64), 'Georgia': array([2002, 2003, 2008], dtype=int64), 'Israel': array([2016], dtype=int64), 'Kiribati': array([2011], dtype=int64), 'Philippines': array([2013, 2014], dtype=int64), 'Portugal': array([2004, 2005, 2006], dtype=int64), 'San Marino': array([2011, 2012, 2013, 2014, 2015], dtype=int64), 'Slovakia': array([2011], dtype=int64), 'TFYR Macedonia': array([2014], dtype=int64), 'United Kingdom': array([2016], dtype=int64), 'United States of America': array([2016], dtype=int64)}

In [11]:
for country in nan_countries:
    print(f'{country}')
    print('unique years:\n{}'.format(suicide_21.loc[suicide_21['country']==country]['year'].unique()))
    print('years with NaN suicides_no:\n {} \n'.format(nan_year_dict[country]))

Albania
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
years with NaN suicides_no:
 [2011 2012 2013 2014 2015]

Armenia
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016]
years with NaN suicides_no:
 [2004 2005]

Australia
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
years with NaN suicides_no:
 [2005]

Azerbaijan
unique years:
[2000 2001 2002 2003 2004 2005 2007]
years with NaN suicides_no:
 [2005]

Belarus
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
years with NaN suicides_no:
 [2004 2005 2006 2012 2015]

Bosnia and Herzegovina
unique years:
[2010 2011 2012 2014]
years with NaN suicides_no:
 [2010 2012]

Cyprus
unique years:
[2000 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016]
years with NaN suicides_no:
 [2002 2003]

Georgia
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
years with NaN suicides_no:
 [2002 2003 2008]

Israel
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016]
years with NaN suicides_no:
 [2016]

Kiribati
unique years:
[2000 2001 2011]
years with NaN suicides_no:
 [2011]

Philippines
unique years:
[2000 2001 2002 2003 2006 2007 2008 2009 2010 2011 2013 2014]
years with NaN suicides_no:
 [2013 2014]

Portugal
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014]
years with NaN suicides_no:
 [2004 2005 2006]

San Marino
unique years:
[2000 2002 2005 2011 2012 2013 2014 2015]
years with NaN suicides_no:
 [2011 2012 2013 2014 2015]

Slovakia
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014]
years with NaN suicides_no:
 [2011]

TFYR Macedonia
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014]
years with NaN suicides_no:
 [2014]

United Kingdom
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016]
years with NaN suicides_no:
 [2016]

United States of America
unique years:
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016]
years with NaN suicides_no:
 [2016]

I'm going to drop 
* Albania
* Azerbaijan
* Belarus
* Kiribati
* Philippines
* Portugal
* San Marino

and try to use average values for

* Armenia
* Australia
* Bosnia and Herzegovina
* Cyprus
* Georgia
* Israel
* Slovakia
* TFYR Macedonia
* United Kingdom
* United States of America

In [12]:
drop_countries = {'Albania', 'Azerbaijan', 'Belarus', 'Kiribati', 'Philippines', 'Portugal', 'San Marino'}
pre_cleaned_df = suicide_21.copy()
print(f'The shape of the dataframe before dropping some countries: {pre_cleaned_df.shape}')

for country in drop_countries:
    indexes = pre_cleaned_df.loc[pre_cleaned_df['country'] == country].index
    pre_cleaned_df.drop(indexes, inplace=True)
    
print(f'The shape of the dataframe after dropping: {pre_cleaned_df.shape}')

The shape of the dataframe before dropping some countries: (21792, 6)
The shape of the dataframe after dropping: (20868, 6)

In [16]:
cleaned_df = pre_cleaned_df.copy()
cleaned_df.head(20)

      country  year     sex          age  suicides_no  population
528  Anguilla  2000  female  15-24 years          0.0         NaN
529  Anguilla  2000  female  25-34 years          0.0         NaN
530  Anguilla  2000  female  35-54 years          0.0         NaN
531  Anguilla  2000  female   5-14 years          0.0         NaN
532  Anguilla  2000  female  55-74 years          0.0         NaN
533  Anguilla  2000  female    75+ years          0.0         NaN
534  Anguilla  2000    male  15-24 years          0.0         NaN
535  Anguilla  2000    male  25-34 years          0.0         NaN
536  Anguilla  2000    male  35-54 years          0.0         NaN
537  Anguilla  2000    male   5-14 years          0.0         NaN
538  Anguilla  2000    male  55-74 years          0.0         NaN
539  Anguilla  2000    male    75+ years          0.0         NaN
540  Anguilla  2001  female  15-24 years          0.0         NaN
541  Anguilla  2001  female  25-34 years          0.0         NaN
542  Anguilla  2001  female  35-54 years          0.0         NaN
543  Anguilla  2001  female   5-14 years          0.0         NaN
544  Anguilla  2001  female  55-74 years          0.0         NaN
545  Anguilla  2001  female    75+ years          0.0         NaN
546  Anguilla  2001    male  15-24 years          0.0         NaN
547  Anguilla  2001    male  25-34 years          0.0         NaN

'Albania', 'Azerbaijan', 'Belarus', 'Kiribati', 'Philippines', 'Portugal', 'San Marino' are dropped from the dataframe.

Now, I have to find averages of

'Armenia', 'Australia', 'Bosnia and Herzegovina', 'Cyprus', 'Georgia', 'Israel', 'Slovakia', 'TFYR Macedonia', 'United Kingdom', 'United States of America' to fill in NaN values

In [25]:
fill_country = ['Armenia', 'Australia', 'Bosnia and Herzegovina', 'Cyprus', 'Georgia', 'Israel',
                'Slovakia', 'TFYR Macedonia', 'United Kingdom', 'United States of America']

for country in fill_country:
    temp = cleaned_df[cleaned_df['country']==country]  # a temporary dataframe to use the mean method on
    indexes = temp.index
    mean = round(temp['suicides_no'].mean(), 2)  # mean values of suicides committed in a country
    for i in indexes:
        cleaned_df.at[i, 'suicides_no'] = mean  # update the value in a specific position

In [24]:
cleaned_df.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no       0
population     2892
dtype: int64