## Analysis on Supermarket

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter

In [2]:
supermarket = pd.read_csv("supermarket.csv")
supermarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   invoice_id    1000 non-null   object
 1   branch        1000 non-null   object
 2   city          1000 non-null   object
 3   customer      1000 non-null   object
 4   gender        1000 non-null   object
 5   product_line  1000 non-null   object
 6   price         1000 non-null   float64
 7   date          1000 non-null   object
 8   payment       1000 non-null   object
dtypes: float64(1), object(8)
memory usage: 70.4+ KB

In [3]:
print(supermarket.head())

    invoice_id branch       city customer  gender            product_line  \
0  750-67-8428      A     Yangon   Member  Female       Health and beauty
1  226-31-3081      C  Naypyitaw   Normal  Female  Electronic accessories
2  631-41-3108      A     Yangon   Normal    Male      Home and lifestyle
3  123-19-1176      A     Yangon   Member    Male       Health and beauty
4  373-73-7910      A     Yangon   Normal    Male       Sports and travel

      price       date      payment
0  548.9715   1/5/2019      Ewallet
1   80.2200   3/8/2019         Cash
2  340.5255   3/3/2019  Credit card
3  489.0480  1/27/2019      Ewallet
4  634.3785   2/8/2019      Ewallet

##### Data Cleansing Functions

In [8]:
def is_col_numeric(table, col):
    '''
    If there is an item in a column that is not numerical return False, otherwise return True
    (DataFrame, column) -> bool
    '''
    not_numeric =[]
    for num in table[col]:
        if type(num) != int and type(num) != float:
            bad_syntax.append(num)
    return len(not_numeric) == 0

def cleanse_price(table):
    '''
    cleanse data in price column of a dataframe
    (Dataframe) -> Dataframe
    '''
    if is_col_numeric(table, 'price'):
        for ind, num in enumerate(table['price']):
            table.at[ind, 'price'] = round(num, 2)
        return table
    else:
        return "there is an item that's not numerical in the price column"

print(cleanse_price(supermarket).head())

    invoice_id branch       city customer  gender            product_line  \
0  750-67-8428      A     Yangon   Member  Female       Health and beauty
1  226-31-3081      C  Naypyitaw   Normal  Female  Electronic accessories
2  631-41-3108      A     Yangon   Normal    Male      Home and lifestyle
3  123-19-1176      A     Yangon   Member    Male       Health and beauty
4  373-73-7910      A     Yangon   Normal    Male       Sports and travel

    price       date      payment
0  548.97   1/5/2019      Ewallet
1   80.22   3/8/2019         Cash
2  340.53   3/3/2019  Credit card
3  489.05  1/27/2019      Ewallet
4  634.38   2/8/2019      Ewallet

In [5]:
city_counter = Counter(supermarket['city']).most_common()
print(city_counter)

[('Yangon', 340), ('Mandalay', 332), ('Naypyitaw', 328)]